{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'easyui/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <title>PTM-ssMP</title>
    <style type="text/css">
        body{
            padding-top: 60px;
            padding-bottom: 60px;
        }
    </style>
</head>
<body>
<!--网站head部分-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="../index/" style="color: #ffffff;">PTM-ssMP</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="../index/"><i class="icon-home icon-white" ></i>Home</a></li>
                    <li><a href="../server/"><i class="icon-tasks icon-white" ></i>Server</a></li>
                    <li class="active"><a href="../tutorial/"><i class="icon-book icon-white" ></i>Tutorial</a></li>
                    <li><a href="../download/"><i class="icon-download-alt icon-white" ></i>Download</a></li>
                    <li><a href="../contact/"><i class="icon-envelope icon-white" ></i>Contact</a></li>
                    <li style="height: 40px">
                        <form class="form-search" enctype="multipart/form-data" role="form-inline" style="vertical-align: middle" action="../SearchJobId" method="GET" >
                            {% csrf_token %}
                            <div class="input-append" style="height: 40px;vertical-align:bottom">
                                <input type="text" id="job_id" name="job_id" class="span2 search-query" value="" style="height: 25px;vertical-align: middle;margin-top: 7px" placeholder="Search Job ID">
                                <button type="submit" class="btn" style="height: 25px;vertical-align: middle;margin-top: 7px"><span class="icon-search"></span></button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--网站content部分-->
<div class="container">
    <div class="row">
		<div class="span12">
		<h3><i class="icon-flag"></i>User Guide</h3>
			<p style="text-align:justify;"><font size="4">Step1: Input the protein sequence with verified phosphorylation site</font><br /></p>
			<p style="text-align:justify;">Input format: You can either load a protein list from a file or paste a protein list to the text area. PTM-ssMP was designed to accept the data in FASTA format. In order not to inconvenience anyone, please ensure that known type and position of PTM sites is listed behind the protein name, separating them using ‘|’. In order to effectively utilize the known post-translational modification information, each known PTM type is separated by ‘;’, and the PTM different site position information is separated by ‘,’, just as shown in below. In addition, for convenience, we define abbreviations for each PTM name and the name table is shown in Table1. Any problem, please contact us.</p>
			<div class="carousel-inner">
				<div class="active item"><img src="{% static 'images/t1.png' %}"/></div>
			</div>
			<p style="text-align:justify;"><font size="4">Step2: Select the PTM model you concern</font><br /></p>
			<p style="text-align:justify;">You can select one or multiple PTM once. We classify all the PTM onto three groups: one including S/T residues, K residues and the other including Y residues.</p>
			<div class="carousel-inner">
				<div class="active item"><img src="{% static 'images/t2.png' %}"/></div>
			</div>
			<p style="text-align:justify;"><font size="4">Step3: Submit the form to the backend server pushing the ‘Submit form’ button</font><br /></p>
			<p style="text-align:justify;">Here, you can use the ‘Reset all’ button if you want to return to the default page. And we offer three selectable thresholds of 90%, 95%, 99% respectively.</p>
			<div class="carousel-inner">
				<div class="active item"><img src="{% static 'images/t3.png' %}"/></div>
			</div>
			<p style="text-align:justify;"><font size="4">Step 4. Results are shown in the page after a few minute</font><br /></p>
			<p style="text-align:justify;">This is a 'overview' list including the result of a threshold of 90%. It contains Job ID, result table, Parameters and so on. The corresponding results will be shown on the panel like the following figure. It contains Protein ID, Locations, PTM types, Residues, local sequence and Score. And predictive results can be exported as JSOPN, XML, CSV, TXT, SQL, MS-Excel format files. We also generate a Job ID for each prediction, and users can search for results in the search box via the Job ID. </p>
			<div class="carousel-inner">
				<div class="active item"><img src="{% static 'images/t6.png' %}"/></div>
			</div>
			<p style="text-align:justify;">Table 1: Abbreviation for PTM name</p>
			<div class="carousel-inner">
				<div class="active item"><img src="{% static 'images/t4.png' %}"/></div>
			</div>
		</div>
	</div>
</div>

<!--网站footer部分-->
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <p style="text-align: center;color: #ffffff;padding-top: 8px;">&copy; 2017 All Rights Reserved  •
                Design by <a href="http://bioinformatics.ustc.edu.cn/">HI_lab</a> @ <a href="http://www.ustc.edu.cn/">USTC</a></p>
        </div>
    </div>
</div>
</body>
</html>